a.nav-link,
a.nav-link:visited {
  font-family: 'Roboto';
  font-size: 12px;
  color: #6b6b6b;
  text-decoration: none;
}

a.nav-link.active {
  color: #000000;
}

a.nav-link:focus {
  color: #000000;
}

a.nav-link:active {
  color: #000000;
}

.footer-container {
  display: flex;
  justify-content: center;
}